@model IEnumerable<EmployeeWebService.Models.Employee>

@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="DisplayOvertimeEmployees">Display only Employees with overtime</a>
<br />
<br />
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="DisplayNonOvertimeEmployees">Display only Employees without overtime</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourlyWage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursPerMonth)
            </th>
            <th>
                Total pay
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyWage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursPerMonth)
            </td>
            <td>
                @item.GetMonthlyPay()
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
